doctype 
html 
    link(rel='stylesheet', type='text/css', href='/styles.css')
    title Serverside Summary 

    body 
        main 
            div#home.section
                h2 Search Countries Ranked by Population (2023)

                div
                    label(for="country") Country
                    input(type="text", name="country", size="50", placeholder="Enter name of a country...")#country

                div
                    label(for="rank") Rank
                    input(type="number", name="rank",size="50", min="1", max="234", placeholder="Enter a number between 1 and 234...")#rank

                button#query-button Query

            div.section
                h2 Queries (sorted by most recent)
                div#queries
        footer.section Assignment #6 Serverside Summary | Will Wallace
    
    script(src='formHandler.js')