doctype 
html 
    link(rel='stylesheet', type='text/css', href='/styles.css')
    title Serverside Summary 

    body 
        main 
            div#home.section
                p test
        footer.section Assignment #6 Serverside Summary | Will Wallace
    
    block script 