body {
    background-color: #201726;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    gap: 20px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 34px;
}

main {
    display: grid;
    gap: 32px;
    margin: 20px 20px;
}

#home {
    display: grid;
    gap: 20px;
}

.section {
    padding: 24px;
    border-radius: 32px;
    background-color: #34293f;
    box-shadow: 5px 5px 5px black;
    font-size: 24px;
}

input {
    font-size: 24px;
    border-radius: 8px;
    padding: 10px;
    display: block;
    margin: 12px 0px;
}

button {
    font-size: 30px;
    border-radius: 8px;
    padding: 16px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
}

.entry {
    border-radius: 32px;
    border: rgb(27, 26, 26);
    border-width: 3px;
    border-style: solid;
    padding: 12px;
    margin-bottom: 16px;
}

p {
    margin: 8px 0px;
}